<!doctype html>

</html lang="en">

<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
</head>

<body class="container" style="background: #c8c8c7">
	<div style="background: #ffffff">
		<div style="width: auto; height: auto; background: #0033a0; margin-block-start: 0px; margin-block-end: 0px;">
			<h1 style="color: #ffffff;">University of Kentucky</h1>
		</div>
		<header class="row container" style="padding-block-start:1%; margin-inline-start: -1px; width:calc(81.4vw + 1px); margin-block-start: 0px; background: #1987d4">
			<h5>Computer Science ABET System<br></h5>
		</header>
		<section class="row container">
			{{{body}}}
		</section>
		<footer class="row container">
			<p style="padding-inline-start: 15px">University of Kentucky Computer Science Department</p>
		</footer>
	</div>
</body>

</html>