<section class="container">
	<section class="container row" style="width: auto; height: 34px; flex-direction: row-reverse; background-color: #eeeeed; margin-inline-start: -15px; margin-inline-end: -45px; margin-block-end: 5px;">
		<button onclick="location.href='../login';" style="margin-inline-start: 2px; margin-block-start: 1px; margin-block-end: 1px;"><h6>Log Out</h6></button>
		<button onclick="location.href='../course';" style="margin-inline-start: 2px; margin-block-start: 1px; margin-block-end: 1px;"><h6>Go Back</h6></button>
		<button style="color: #c8c8c7; margin-inline-start: 2px; margin-block-start: 1px; margin-block-end: 1px;"><h6>Help</h6></button>
	</section>
	<section class="container">	
		<img src=https://www.catholic.org/files/images/saints/stjude.jpg><img>
		<br></br>
		<h1>Welcome to the help page!</h1>
	</section>
	<section class="container row">
		<p align='left'>I made it just for you, and I hope you like it.
		<br></br> The goal of this help page is to... well, help.
		I think that should be pretty understandable; it's good
		to be helpful. Do unto others as you would have them do
		unto you, right? I've heard Canadians are more helpful 
		than Americans, and I'm out to prove them wrong. Later,
		though. For now I'm just making the page.<br></br>Also
		a shoutout to our favorite dude, St. Jude, the patron Saint 
		of hopeless causes - like my other task!</p>
	</section>
</section>