<section class="login_page container" style="padding-inline: 0px; background: #ffffff; height:80vh">
	<h6 style="text-align: left; margin-inline-start: 0px;">Please log in with your LinkBlue ID<br></h6>
	<form target="_self" method="POST" style="margin-inline-start: 15px;">
		<div class="row">
			<label for="username">username: </label><input type="text" name="username" style="margin-inline-start: 4px">
		</div>
		<div class="row">
			<label for="password">password: </label><input type="password" name="password" style="margin-inline-start: 5px">
		</div>
		<input type="submit" style="display: none" />
	</form>
</section>