<section id="course_index_page" class="container" style="background:#ffffff; height: 80vh; margin-block-start: 0px">
	<section class="container row" style="width: auto; height: 34px; flex-direction: row-reverse; background-color:#eeeeed; margin-inline-start: -15px; margin-inline-end: -45px;">
		<button onclick="location.href='/login';" style="margin-inline-start: 2px; margin-block-start: 1px; margin-block-end: 1px;"><h6>Log Out</h6></button>
		<button onclick="location.href='/help';" style="margin-inline-start: 2px; margin-block-start: 1px; margin-block-end: 1px;"><h6>Help Page</h6></button>
		<button onclick="location.href='/course/new';" style="margin-inline-start: 2px; margin-block-start: 1px; margin-block-end: 1px;">
			<h6>new course <i class="material-icons">add_circle</i></h6>
		</button>
	</section>
	<section class="active_courses">
		<h3>Active Courses<span data-toggle="tooltip" title="You can edit artifact data for these courses until the deadline"><i class="material-icons">help</i></span></h3>
		<table style="border: 1px solid #c8c8c7; width: 102.7%">
			<tr style="background: #eeeeed;">
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress <span data-toggle="tooltip" title="uploaded/needed"><i class="material-icons">help</i></span></th>
				<th>Due Date</th>
				<th></th>
			</tr>
			<tr>
				<td>CS498</td>
				<td>Fall</td>
				<td>2019</td>
				<td>8 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">edit <i class="material-icons">edit</i></a></td>
			</tr>
			<tr>
				<td>CS499</td>
				<td>Fall</td>
				<td>2019</td>
				<td>12 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">edit <i class="material-icons">edit</i></a></td>
			</tr>
		</table>
	</section>
	<section class="archived_courses">
		<h3>Archived Courses<span data-toggle="tooltip" title="These courses are from past semesters and can no longer be edited"><i class="material-icons">help</i></span></h3>
		<table style="border:1px solid #c8c8c7; width: 102.7%">
			<tr style="background: #eeeeed">
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<th>Artifact Progress<span data-toggle="tooltip" title="uploaded/needed"><i class="material-icons">help</i></span></th>
				<th>Due Date</th>
				<th></th>
			</tr>
			<tr>
				<td>CS498</td>
				<td>Fall</td>
				<td>2019</td>
				<td>8 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">view <i class="material-icons">pageview</i></a></td>
			</tr>
			<tr>
				<td>CS499</td>
				<td>Fall</td>
				<td>2019</td>
				<td>12 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">view <i class="material-icons">pageview</i></a></td>
			</tr>
		</table>
	</section>
</section>
